/* magazines.component.scss */
.magazine-list {
	display: flex;
	// flex-direction: column;
	flex-wrap: wrap;
	gap: 16px;
	justify-content: center;
	align-items: center;
}

mat-card {
	width: 300px;
	margin: 8px;
	display: flex;
	flex-direction: column;
}

mat-card img[mat-card-image] {
	object-fit: cover;
	height: 200px;
	width: 100%;
}

@media (max-width: 600px) {
	.magazine-list {
		flex-direction: column;
		gap: 4px;
		justify-content: flex-end;
		/* Align magazines to bottom */
		min-height: 100vh;
	}

	mat-card {
		width: 100%;
		margin: 4px 0;
	}
}